/* this colors are on testing 
$brand-color:#BFC7BF;
$accent-color:#e9ecef;
$main-font-color:#434A43;*/

$main-spacing: 1em;
$main-font:'Roboto',
sans-serif;
$secondary-font:'Montserrat',
sans-serif;


body {

  h4 {
    font-family: $main-font;
  }

  p {
    font-family: $secondary-font;
  }
}

.jumbotron {

  h2 {
    font-family: $main-font;
  }
}

nav {
  margin-top: $main-spacing;
  margin-bottom: $main-spacing;
}

.list-group {
  margin-bottom: $main-spacing;
  font-family: $main-font;
}

form {
  margin-top: $main-spacing;
}
