$accent-color:#151212;
$main-color:#575e66;

$brand-color:#231f1f;

$element-color:#e00000; //red color for buttons
$main-spacing: 1em;
$main-font:'Roboto',
sans-serif;
$secondary-font:'Montserrat',
sans-serif;


body {

  h4 {
    font-family: $main-font;
  }

  p {
    font-family: $secondary-font;
  }
}

/*HEADERS*/

.jumbotron {

  background-color: $main-color;
  color: white;

  h2 {
    font-family: $main-font;
  }

  .btn-primary {
    background-color: $element-color;
    border: $element-color;
  }
}


/*NAVIGATEUR*/

nav {
  margin-top: $main-spacing;
  margin-bottom: $main-spacing;
  color: white;
}

.navbar-light .navbar-nav .nav-link {

  color: white;

}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {

  color: white;
}

.navbar-light .navbar-toggler {

  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .1);

}

.navbar-light .navbar-toggler-icon {

  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {

  color: rgba(215, 215, 215, .7);

}

/* MENU  depliant */

.list-group {
  margin-bottom: $main-spacing;
  font-family: $main-font;

  .icon {
    display: flex;
    justify-content: space-between;
  }
}

/* RESTAURANT */
.btn-primary {

  color: #fff;
  background-color: $element-color;
  border-color: $element-color;

}

.btn-primary:hover {

  color: #fff;
  background-color: $element-color;
  border-color: $element-color;

}


/* CONTACT */

form {
  margin-top: $main-spacing;
}
