@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



body {}

.container {
  margin-top: 1em;
}

.row {
  margin: 1em;
}

.jumbotron {
  background-color: #88817c;
}

.display-4,
.lead {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.daily {
  background-color: white;
  color: #88817c;
  height: 10em;
  border: 1px solid red;
  margin-top: 1em;
}
